[Desktop Entry]
Name=oblikue-strategies
Name[ast]=oblikue-strategies
Name[bg]=oblikue-strategies
Name[bs]=oblikue-strategies
Name[ca]=oblikue-strategies
Name[ca@valencia]=oblikue-strategies
Name[cs]=oblikue-strategies
Name[da]=oblikue-strategies
Name[de]=oblikue-strategies
Name[el]=oblikue-strategies
Name[en_GB]=oblikue-strategies
Name[eo]=oblikue-strategies
Name[es]=oblikue-strategies
Name[et]=oblikue-strategies
Name[fi]=oblikue-strategies
Name[fr]=oblikue-strategies
Name[ga]=oblikue-strategies
Name[gl]=oblikue-strategies
Name[hu]=oblikue-strategies
Name[it]=oblikue-strategies
Name[ja]=oblikue-strategies
Name[kk]=oblikue-strategies
Name[km]=oblikue-strategies
Name[ko]=oblikue-strategies
Name[lt]=oblikue-strategies
Name[lv]=oblikue-strategies
Name[nb]=oblikue-strategies
Name[nds]=oblikue-strategies
Name[nl]=oblikue-strategies
Name[nn]=oblikue-strategies
Name[pa]=oblikue-strategies
Name[pl]=oblikue-strategies
Name[pt]=oblikue-strategies
Name[pt_BR]=oblikue-strategies
Name[ro]=oblikue-strategies
Name[ru]=oblikue-strategies
Name[sk]=oblikue-strategies
Name[sq]=oblikue-strategies
Name[sr]=oblikue-strategies
Name[sr@ijekavian]=oblikue-strategies
Name[sr@ijekavianlatin]=oblikue-strategies
Name[sr@latin]=oblikue-strategies
Name[sv]=oblikue-strategies
Name[tr]=oblikue-strategies
Name[ug]=oblikue-strategies
Name[uk]=oblikue-strategies
Name[x-test]=xxoblikue-strategiesxx
Name[zh_CN]=oblikue-strategies
Name[zh_TW]=oblikue-strategies
Comment=Plasma oblikue-strategies
Comment[ast]=Plasma oblikue-strategies
Comment[bs]=Plazma oblikue-strategies
Comment[ca]=Plasma oblikue-strategies
Comment[ca@valencia]=Plasma oblikue-strategies
Comment[cs]=Plasma oblikue-strategies
Comment[da]=Plasma oblikue-strategies
Comment[de]=Plasma oblikue-strategies
Comment[el]=Plasma oblikue-strategies
Comment[en_GB]=Plasma oblikue-strategies
Comment[eo]=Plasma oblikue-strategies
Comment[es]=Plasma oblikue-strategies
Comment[et]=Plasma oblikue-strategies
Comment[fi]=Plasma oblikue-strategies
Comment[fr]=Plasma oblikue-strategies
Comment[ga]=Plasma oblikue-strategies
Comment[gl]=Plasma oblikue-strategies
Comment[hu]=Plasma oblikue-strategies
Comment[it]=Plasma oblikue-strategies
Comment[ja]=Plasma oblikue-strategies
Comment[kk]=Plasma oblikue-strategies
Comment[km]=ប្លាស្មា oblikue-strategies
Comment[ko]=Plasma oblikue-strategies
Comment[lt]=Plazma oblikue-strategies
Comment[lv]=Plasma oblikue-strategies
Comment[nb]=Plasma oblikue-strategies
Comment[nds]=Plasma oblikue-strategies
Comment[nl]=Plasma oblikue-strategies
Comment[nn]=Plasma oblikue-strategies
Comment[pa]=ਪਲਾਜ਼ਮਾ oblikue-strategies
Comment[pl]=Plazma oblikue-strategies
Comment[pt]=Plasma oblikue-strategies
Comment[pt_BR]=Plasma oblikue-strategies
Comment[ro]=Plasma oblikue-strategies
Comment[ru]=Виджет Plasma oblikue-strategies
Comment[sk]=Plasma oblikue-strategies
Comment[sq]=Plasma oblikue-strategies
Comment[sr]=Плазмин oblikue-strategies
Comment[sr@ijekavian]=Плазмин oblikue-strategies
Comment[sr@ijekavianlatin]=Plasmin oblikue-strategies
Comment[sr@latin]=Plasmin oblikue-strategies
Comment[sv]=Plasma oblikue-strategies
Comment[tr]=Plasma oblikue-strategies
Comment[uk]=Плазма oblikue-strategies
Comment[x-test]=xxPlasma oblikue-strategiesxx
Comment[zh_CN]=Plasma oblikue-strategies
Comment[zh_TW]=Plasma oblikue-strategies
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_oblikue-strategies
X-KDE-PluginInfo-Author=Evgeniy Alekseev aka arcanis
X-KDE-PluginInfo-Email=esalexeev@gmail.com
X-KDE-PluginInfo-Name=oblikue-strategies
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

