[Desktop Entry]
Name=Oblikue Strategies
Name[ast]=Oblikue Strategies
Name[bg]=Oblikue Strategies
Name[bs]=Oblikue Strategies
Name[ca]=Oblikue Strategies
Name[ca@valencia]=Oblikue Strategies
Name[cs]=Oblikue Strategies
Name[da]=Oblikue Strategies
Name[de]=Oblikue Strategies
Name[el]=Oblikue Strategies
Name[en_GB]=Oblikue Strategies
Name[eo]=Oblikue Strategies
Name[es]=Oblikue Strategies
Name[et]=Oblikue Strategies
Name[fi]=Oblikue Strategies
Name[fr]=Oblikue Strategies
Name[ga]=Oblikue Strategies
Name[gl]=Oblikue Strategies
Name[hu]=Oblikue Strategies
Name[it]=Oblikue Strategies
Name[ja]=Oblikue Strategies
Name[kk]=Oblikue Strategies
Name[km]=Oblikue Strategies
Name[ko]=Oblikue Strategies
Name[lt]=Oblikue Strategies
Name[lv]=Oblikue Strategies
Name[nb]=Oblikue Strategies
Name[nds]=Oblikue Strategies
Name[nl]=Oblikue Strategies
Name[nn]=Oblikue Strategies
Name[pa]=Oblikue Strategies
Name[pl]=Oblikue Strategies
Name[pt]=Oblikue Strategies
Name[pt_BR]=Oblikue Strategies
Name[ro]=Oblikue Strategies
Name[ru]=Oblikue Strategies
Name[sk]=Oblikue Strategies
Name[sq]=Oblikue Strategies
Name[sr]=Oblikue Strategies
Name[sr@ijekavian]=Oblikue Strategies
Name[sr@ijekavianlatin]=Oblikue Strategies
Name[sr@latin]=Oblikue Strategies
Name[sv]=Oblikue Strategies
Name[tr]=Oblikue Strategies
Name[ug]=Oblikue Strategies
Name[uk]=Oblikue Strategies
Name[x-test]=xxOblikue Strategiesxx
Name[zh_CN]=Oblikue Strategies
Name[zh_TW]=Oblikue Strategies
Comment=Plasma Oblikue Strategies
Comment[ast]=Plasma Oblikue Strategies
Comment[bs]=Plazma Oblikue Strategies
Comment[ca]=Plasma Oblikue Strategies
Comment[ca@valencia]=Plasma Oblikue Strategies
Comment[cs]=Plasma Oblikue Strategies
Comment[da]=Plasma Oblikue Strategies
Comment[de]=Plasma Oblikue Strategies
Comment[el]=Plasma Oblikue Strategies
Comment[en_GB]=Plasma Oblikue Strategies
Comment[eo]=Plasma Oblikue Strategies
Comment[es]=Plasma Oblikue Strategies
Comment[et]=Plasma Oblikue Strategies
Comment[fi]=Plasma Oblikue Strategies
Comment[fr]=Plasma Oblikue Strategies
Comment[ga]=Plasma Oblikue Strategies
Comment[gl]=Plasma Oblikue Strategies
Comment[hu]=Plasma Oblikue Strategies
Comment[it]=Plasma Oblikue Strategies
Comment[ja]=Plasma Oblikue Strategies
Comment[kk]=Plasma Oblikue Strategies
Comment[km]=ប្លាស្មា Oblikue Strategies
Comment[ko]=Plasma Oblikue Strategies
Comment[lt]=Plazma Oblikue Strategies
Comment[lv]=Plasma Oblikue Strategies
Comment[nb]=Plasma Oblikue Strategies
Comment[nds]=Plasma Oblikue Strategies
Comment[nl]=Plasma Oblikue Strategies
Comment[nn]=Plasma Oblikue Strategies
Comment[pa]=ਪਲਾਜ਼ਮਾ Oblikue Strategies
Comment[pl]=Plazma Oblikue Strategies
Comment[pt]=Plasma Oblikue Strategies
Comment[pt_BR]=Plasma Oblikue Strategies
Comment[ro]=Plasma Oblikue Strategies
Comment[ru]=Виджет Plasma Oblikue Strategies
Comment[sk]=Plasma Oblikue Strategies
Comment[sq]=Plasma Oblikue Strategies
Comment[sr]=Плазмин Oblikue Strategies
Comment[sr@ijekavian]=Плазмин Oblikue Strategies
Comment[sr@ijekavianlatin]=Plasmin Oblikue Strategies
Comment[sr@latin]=Plasmin Oblikue Strategies
Comment[sv]=Plasma Oblikue Strategies
Comment[tr]=Plasma Oblikue Strategies
Comment[uk]=Плазма Oblikue Strategies
Comment[x-test]=xxPlasma Oblikue Strategiesxx
Comment[zh_CN]=Plasma Oblikue Strategies
Comment[zh_TW]=Plasma Oblikue Strategies
Type=Service
Icon=oblikue-strategies

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_oblikue-strategies
X-KDE-PluginInfo-Author=Evgeniy Alekseev
X-KDE-PluginInfo-Email=esalexeev@gmail.com
X-KDE-PluginInfo-Name=oblikue-strategies
X-KDE-PluginInfo-Version=1.5
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Fun and Games
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

